{% extends "base.html" %}
{% load static %}{% load templateTags %}{% load i18n %}{% load account %}

{% block addCSS %}
	<link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock addCSS %}

{% block title %}{% trans 'Connexion' %}{% endblock %}

{% block content %}

<div class="container mt-3">
    <div id="login-jumbo" class="jumbotron text-center py-3">
        <div class="container">
            <h1 class="h1-responsive my-0">{% trans "Connectez-vous à <br><strong>La Gamelle Consignée</strong>" %}</h1>            
        </div>
    </div>
</div>

<div class="container mt-3">
    {% include "display_alerts.html" %}
</div>

<div class="container" style="max-width: 700px">

	{% for error in form.non_field_errors %}
        {% include "display_single_alert.html" with label_=_("") field_=error %}
    {% endfor %}

    {% if form.error %}
        <div class="container-fluid">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% trans "Merci de corriger les erreurs ci-dessous" %}
            </div>
        </div>
    {% endif %}

	{# error login #}
    {% for error in form.login.errors %}
        {% include "display_single_alert.html" with label_=_("Email ") field_=error %}
    {% endfor %}

	{# error password #}
    {% for error in form.password.errors %}
        {% include "display_single_alert.html" with label_=_("Mot de passe ") field_=error %}
    {% endfor %}

	<form method="post" action="{% url 'account_login' %}">
		{% csrf_token %}

		{{ form.login|addClass:'form-control form-control-lg mb-4'|placeholder:"Email" }}

		{{ form.password|addClass:'form-control form-control-lg mb-4'|placeholder:"Mot de passe" }}

		<div class="d-flex justify-content-between">
			<div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
					<label class="custom-control-label" for="defaultLoginFormRemember">
						Se souvenir de moi
					</label>
				</div>
			</div>
			<div>
				<a href="#">Mot de passe oublié (à venir) ?</a>
			</div>
		</div>

		<button class="btn btn-info btn-block my-4" type="submit">
			Se connecter
		</button>

		<div class="text-center">
			<p>Pas encore inscrit ?
				<a href="{% url 'account_signup' %}">S'inscrire</a>
			</p>
		</div>
	</form>
</div>
{% endblock content %}