{% extends "base.html" %}
{% load i18n %}{% load account %}{% load templateTags %}

{% block addJS %}{% endblock %}
{% block addCSS %}{% endblock %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container mt-3">
    <div id="pwd-change-jumbo" class="jumbotron text-center py-3">
        <div class="container">
            <h1 class="display-4">Mot de passe oublié ? :-(</h1>
            <h5><i>Cela peut tous nous arriver. Le mieux, c'est d'en parler.</i></h5>
            <hr class="border-white">
            <p class="text-left">
                2 solutions s'offrent à vous : 
                <ul>
                    <li>
                        <p class="text-left">Envoyer un mail à <b>maxence.renaud@aviation-civile.gouv.fr</b>, 
                        en précisant votre adresse mail. Un mot de passe qu'il vous faudra modifier dès sa réception vous sera alors envoyé.</p>
                    </li>
                    <li>
                        <p class="text-left">Passer voir <b>Maxence RENAUD</b> en subdivision contrôle (bureau A256) 
                            pour modifier en direct et sans attendre (s'il est là) votre mot de passe.</p>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>

{% include "display_alerts.html" %}

{% endblock content %}