{% extends "base.html" %}
{% load i18n %}{% load account %}{% load templateTags %}

{% block addJS %}{% endblock %}
{% block addCSS %}{% endblock %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container mt-3">
    <div id="pwd-change-jumbo" class="jumbotron text-center py-3">
        <div class="container">
            <h1 class="h1-responsive mb-0">{% trans "Change Password" %}</h1>
        </div>
    </div>
</div>

{% include "display_alerts.html" %}

<form class="password_change" id="form" method="POST" action="{% url 'account_change_password' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="container mx-auto mb-3 rounded" style="max-width: 700px;">

        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% trans "Merci de corriger les erreurs ci-dessous" %}
                </div>
            </div>
        {% endif %}

        {% for error in form.non_field_errors %}
            {% include "display_single_alert.html" with label_=_("Erreur lors du changement de mot de passe") field_=error %}
        {% endfor %}

        {% for error in form.oldpassword.errors %}
            {% include "display_single_alert.html" with label_=_("Ancien mot de passe") field_=error %}
        {% endfor %}

        {% for error in form.password1.errors %}
            {% include "display_single_alert.html" with label_=_("Nouveau mot de passe") field_=error %}
        {% endfor %}

        {% for error in form.password2.errors %}
            {% include "display_single_alert.html" with label_=_("Nouveau mot de passe") field_=error %}
        {% endfor %}
            
        <div class="row">

            {# Ancien mot de passe #}
            <div class="col-12">                
                <div class="form-group w-100">
                    <label for="{{ form.oldpassword.id_for_label }}" class="control-label col-form-label-lg mb-0">{% trans "Mot de passe actuel :" %} </label>
                    <div class="input-group">
                        {{ form.oldpassword|addClass:'form-control form-control-lg' }}
                    </div>
                </div>
            </div>

            {# Nouveau mot de passe #}
            <div class="col-12">                
                <div class="form-group w-100">
                    <label for="{{ form.password1.id_for_label }}" class="control-label col-form-label-lg mb-0">{% trans "Nouveau mot de passe :" %} </label>
                    <div class="input-group">
                        {{ form.password1|addClass:'form-control form-control-lg' }}
                    </div>
                </div>            
            </div>

            {# Nouveau mot de passe (à nouveau) #}
            <div class="col-12">                
                <div class="form-group w-100">
                    <label for="{{ form.password2.id_for_label }}" class="control-label col-form-label-lg mb-0">{% trans "Nouveau mot de passe (encore une fois) :" %} </label>
                    <div class="input-group">
                        {{ form.password2|addClass:'form-control form-control-lg' }}
                    </div>
                </div>            
            </div>


            {% if redirect_field_value %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>{% endif %}
            <div class="col-12 border-top mt-3">
                <button id="signup-btn" type="submit" class="btn btn-outline-warning btn-block text-white">
                    <i class="fas fa-sync fa-spin mr-2 d-none"></i>
                    {% trans "Changer mon mot de passe" %}
                </button>
            </div>

        </div> 

	</form>
</div>

{% endblock content %}