{% extends "base.html" %}
{% load static %}{% load templateTags %}{% load i18n %}

{% block addCSS %} 
{% endblock %}

{% block addJS %} 
{% endblock %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container mt-3">
    <div id="login-jumbo" class="jumbotron text-center py-3">
        <div class="container">
            <h1 class="h1-responsive my-0">{% trans "Créez votre compte <br><strong>La Gamelle Consignée</strong>" %}</h1>
        </div>
    </div>
</div>

{% include "display_alerts.html" %}

<div class="container" style="max-width: 700px">

    {{ form.non_field_errors }}
    {% if form.error %}
        <div class="container-fluid">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% trans "Merci de corriger les erreurs ci-dessous" %}
            </div>
        </div>
    {% endif %}
        
    {# error first_name #}
    {% for error in form.username.errors %}
        {% include "display_single_alert.html" with label_=_("Pseudonyme ") field_=error %}
    {% endfor %}

    {# error last_name #}
    {% for error in form.username.errors %}
        {% include "display_single_alert.html" with label_=_("Pseudonyme ") field_=error %}
    {% endfor %}

    {# error email #}
    {% for error in form.email.errors %}
        {% include "display_single_alert.html" with label_=_("Email ") field_=error %}
    {% endfor %}

    {# error phone_number #}
    {% for error in form.phone_number.errors %}
        {% include "display_single_alert.html" with label_=_("Téléphone ") field_=error %}
    {% endfor %}
    
    {# error password1 #}
    {% for error in form.password1.errors %}
        {% include "display_single_alert.html" with label_=_("Mot de passe ") field_=error %}
    {% endfor %}

    {# error password2 #}
    {% for error in form.password2.errors %}
        {% include "display_single_alert.html" with label_=_("Mot de passe ") field_=error %}
    {% endfor %}
    
	<form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}

        {{ form.first_name|addClass:'form-control form-control-lg mt-2' }}
        
        {{ form.last_name|addClass:'form-control form-control-lg mt-2' }}
        
        {{ form.email|addClass:'form-control form-control-lg mt-2' }}

        {{ form.phone_number|addClass:'form-control form-control-lg mt-2' }}
       
        {{ form.password1|addClass:'form-control form-control-lg mt-2'|placeholder:"Mot de passe" }}
        
        {{ form.password2|addClass:'form-control form-control-lg mt-2'|placeholder:"Mot de passe (confirmer)" }}

        <hr>

        <button class="btn btn-success btn-block my-4" type="submit">
			S'inscrire
		</button>
		
	</form>
</div>

{% endblock content %}