{% extends "base.html" %}
{% load static %}{% load templateTags %}{% load i18n %}

{% block addCSS %} 
{% endblock %}

{% block addJS %} 
{% endblock %}

{% block title %}{% trans "Mon profil" %}{% endblock %}

{% block content %}

<div class="container mt-3">
    <div id="login-jumbo" class="jumbotron text-center py-3 mb-1">
        <div class="container">
            <h1 class="h1-responsive my-0">{% trans "Votre profil <br><strong>La Gamelle Consignée</strong>" %}</h1>
        </div>
    </div>
</div>

{% include "display_alerts.html" %}

<form class="update_client_profile" id="form" method="POST" action="{% url 'update_client_profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
   
    <div class="container mx-auto mb-3 rounded" style="max-width: 700px;">

        {% if form.errors %}
            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% trans "Merci de corriger les erreurs ci-dessous" %}
                </div>
            </div>
        {% endif %}
        
        <!-- {% for error in form.username.errors %}
            {% include "display_single_alert.html" with label_=_("Nom d'utilisateur") field_=error %}
        {% endfor %} -->

        {% for error in form.email.errors %}
            {% include "display_single_alert.html" with label_=_("Email") field_=error %}
        {% endfor %}

        {% for error in form.mandatory_statuts.errors %}
            {% include "display_single_alert.html" with label_=_("Statuts") field_=error %}
        {% endfor %}

        <div class="row border-top border-bottom border-light mt-2 py-2">
            <div class="col-12">
                <i class="fas fa-euro-sign fa-fw mr-2"></i>Votre cagnotte : <strong>{{ user.client_profile.current_balance }}€</strong>
                <br>
                <i class="fas fa-house-user fa-fw mr-2"></i>Gamelles empruntées : <strong>{{ user.client_profile.nbr_gamelles_dirty }}</strong>
                <br>
                <i class="fas fa-archive fa-fw mr-2"></i>Nombre de gamelles utilisées : <strong>{{ user.client_profile.nbr_gamelles_used }}</strong>
            </div>            
        </div>

        <div class="row">

            {# Prénom de l'utilisateur #}
            <div class="col-12">
                <div class="form-group w-100">
                    <label for="{{ form.username.first_name }}" class="control-label col-form-label-lg mb-0">
                        {% trans "Prénom :" %}
                    </label>
                    <div class="input-group">
                        {{ form.first_name }}
                    </div>
                </div>
            </div>

            {# Nom de l'utilisateur #}
            <div class="col-12 border-top">
                <div class="form-group w-100">
                    <label for="{{ form.username.id_for_label }}" class="control-label col-form-label-lg mb-0">
                        {% trans "Nom :" %}
                    </label>
                    <div class="input-group">
                        {{ form.last_name }}
                    </div>
                </div>
            </div>

            <hr>

            {# Adresse mail #}
            <div class="col-12 border-top">
                <div class="form-group w-100">
                    <label for="{{ form.email.id_for_label }}" class="control-label col-form-label-lg mb-0">
                        {% trans "E-mail :" %}
                    </label>
                    <div class="input-group">
                        {{ form.email }}
                    </div>
                </div>
            </div>

            {# Numéro de téléphone #}
            <div class="col-12 border-top">
                <div class="form-group w-100">
                    <label for="{{ form.phone_number.id_for_label }}" class="control-label col-form-label-lg mb-0">
                        {% trans "Téléphone :" %}
                    </label>
                    <div class="input-group">
                        {{ form.phone_number }}
                    </div>
                </div>
            </div>

            {# Lien pour changer le mot de passe #}
            <div class="col-12 border-top">
                <div class="form-group text-center mb-0">
                    <a class="btn btn-block btn-outline-warning my-2 text-white" href="{% url 'account_change_password' %}">
                        Changer votre mot de passe
                    </a>
                </div>
            </div>  

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            <div class="col-12 border-top">
                <button id="update-btn" type="submit" class="btn btn-outline-success btn-block my-2 text-white">
                    <i class="fas fa-sync fa-spin mr-2 d-none"></i>
                    {% trans "Mettre à jour mon profil" %}
                </button>
            </div>
        
        </div>
    
    </div>

</form>

{% endblock content %}