{% extends "base.html" %}
{% load static %}{% load templateTags %}{% load i18n %}

{% block addCSS %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{% static 'core/deal_gamelle.css' %}">
{% endblock addCSS %}

{% block addJS %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script>
    $( document ).ready(function() {

        // initialisation
        $("#nbr-gamelles-is").html($("#id_nbr_gamelles").val())
        $("#id_action").val('use')
        $("#amount-is").html($("#id_nbr_gamelles").val() * {{ GAMELLE_VALUE }})

        $(".action-input").change(function() {
            var btn_group = $('#action-gamelle-btns')
            btn_group.children().removeClass('btn-success btn-warning btn-purple btn-danger').addClass('btn-light-blue')
            $(this).parent().removeClass('btn-light-blue').addClass('btn-success')
            if ($(this).attr('data-action') == 'use') { 
                $("#id_action").val('use')
                $("#action-is").html('utilisez') 
                $("#resume-cagnotte").show()
                $("#cagnotte-is").html('débitée').addClass('text-danger').removeClass('text-success')
            } else if ($(this).attr('data-action') == 'give_back') { 
                $("#id_action").val('give_back')
                $("#action-is").html('rendez') 
                $("#resume-cagnotte").show()
                $("#cagnotte-is").html('créditée').addClass('text-success').removeClass('text-danger')
            } else if ($(this).attr('data-action') == 'swap') { 
                $("#id_action").val('swap')
                $("#action-is").html('échangez')
                $("#resume-cagnotte").hide()
            }
        })
        $(".minus, .plus").click(function() {
            console.log("{{ user.client_profile.current_balance }}€")
            console.log($("#id_nbr_gamelles").val())
            $("#nbr-gamelles-is").html($("#id_nbr_gamelles").val())
            $("#amount-is").html($("#id_nbr_gamelles").val() * {{ GAMELLE_VALUE }})
        })
    })
    </script>
{% endblock addJS %}

{% block title %}Les gamelles{% endblock title %}

{% block content %}

<div class="container mt-3">
    {% include "display_alerts.html" %}
</div>

<form class="container mt-3 mb-4 text-center" method="post" action="{% url 'deal_gamelle' %}">

    {% csrf_token %}

    {% if form.error %}
    <div class="container-fluid">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% trans "Merci de corriger les erreurs ci-dessous" %}
        </div>
    </div>
    {% endif %}
    
    {% if form.non_field_errors %}
        {% include "display_single_alert.html" with field_=form.non_field_errors %}
    {% endif %}

    <div id="action-gamelle-btns" class="btn-group col-12 px-2" data-toggle="buttons">
        {{ form.action.as_hidden }}
        <label class="btn btn-success px-3 form-check-label active">
            <input class="form-check-input action-input" type="radio" autocomplete="off" checked hidden
            data-action='use'>
            Utiliser
        </label>
        <label class="btn btn-light-blue px-3 form-check-label">
            <input class="form-check-input action-input" type="radio" autocomplete="off" hidden
            data-action='give_back'>
            Rendre
        </label>
        <label class="btn btn-light-blue px-3 form-check-label">
            <input class="form-check-input action-input" type="radio" autocomplete="off" hidden
            data-action='swap'>
            Echanger
        </label>
    </div>

    <div class="col-12 d-flex justify-content-center mt-3">
        <i class="fas fa-archive fa-3x mr-3"></i>
        {% include "plus_minus_button.html" with field=form.nbr_gamelles %}
    </div>

    <div class="col-12 mt-3 pt-2 border-top border-light">
        {{ form.restaurant_to_select }}
    </div>

    {% comment %} <div class="col-12 mt-3">
        {{ form.code_to_submit }}
    </div> {% endcomment %}

    <div class="col-12 mt-3 pt-3 border-top border-light">
        <strong>Résumé</strong>
        <ul class="text-left pl-2">
            <li>Vous <span id="action-is">utilisez</span> <span id="nbr-gamelles-is">0</span> gamelle(s)</li>
            <li id="resume-cagnotte">Votre cagnotte est <strong id="cagnotte-is" class="text-danger">débitée</strong> de <span id="amount-is">0</span>€</li>
        </ul>
    </div>
    
    <div class="col-12 mt-3 border-top border-light">
        <button class="btn btn-block btn-success" type="submit">
            Valider
        </button>
    </div>

</form>

{% endblock content %}