{% extends "base.html" %}
{% load static %}{% load templateTags %}

{% block addCSS %}
<link rel="stylesheet" href="{% static 'core/home.css' %}">
{% endblock addCSS %}

{% block title %}Accueil{% endblock title %}

{% block content %}

<div class="container mt-3">
    {% include "display_alerts.html" %}
</div>

<div class="container mt-3 text-center">

    <img src="{% static 'images/logo/logo_la_gamelle_consignee.png' %}" 
    class="img-fluid mx-auto" alt="logo_la_gamelle_consignee" width="200">

    {% if user.is_authenticated %}
        <div class="container d-flex justify-content-center flex-column">
            <div class="row mt-2">
                <a href="" role="button" class="btn btn-info btn-block mx-auto px-2">
                    Voir la liste des restaurants qui utilisent la consigne
                </a>
            </div>
            <div class="row mt-2">
                <a href="{% url 'deal_gamelle' %}" role="button" class="btn btn-secondary btn-block mx-auto px-2">
                    Utiliser, rendre ou échanger une gamelle
                </a>
            </div>

            {% comment %}
            <div class="row mt-2">
                <a href="" role="button" class="btn btn-warning btn-block mx-auto px-2">
                    Utiliser ma cagnotte (xx€)
                    <br>Rendre mes consignes
                </a>
            </div>
            <div class="row mt-2">
                <a href="" role="button" class="btn btn-secondary btn-block mx-auto px-2">
                    Alimenter ma cagnotte<br>
                    Se faire rembourser
                </a>
            </div>
            {% endcomment %}
        </div>
    {% else %}

    <div class="row mt-2">
        <div class="col-12">
            <hr>
            <h2 class="h2-responsive">Vous n'êtes pas connecté(e)</h2> 
            <hr>           
        </div>
        <div class="col-12 col-md-6">
            <a role="button" href="{% url 'account_signup' %}" class="w-100 btn btn-lg btn-success">
                Créer un compte
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a role="button" href="{% url 'account_login' %}" class="w-100 btn btn-lg btn-info">
                Se connecter
            </a>
        </div>
    </div>

    {% endif %}

</div>

{% endblock content %}