{% load static %}
{% load templateTags %}
<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8_decode">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="author" content="{% block author %}Maxence RENAUD{% endblock %}">
	<meta name=”keywords” content=""/>
	<title>{% block title %}{% endblock %}</title>

	{# ---------------- JQuery ---------------- #}
	{# Nécessaire d'être placé ici pour TempusDominus #}
	<script type="text/javascript" src="{% static 'mdb_4.19.1/js/jquery.min.js' %}"></script>

	{# ---------------- CSS ---------------- #}	
	{# Font Awesome #} 				<link rel="stylesheet" href="{% static 'fontawesome-5.14.0-web/css/all.min.css' %}">
	{# Bootstrap core CSS #} 		<link rel="stylesheet" href="{% static 'mdb_4.19.1/css/bootstrap.min.css' %}">
	{# Material Design Bootstrap #} <link rel="stylesheet" href="{% static 'mdb_4.19.1/css/mdb.min.css' %}">
	{# MDBootstrap Datatables #}    <link rel="stylesheet" href="{% static 'mdb_4.19.1/css/addons/datatables.min.css' %}">
	{# base #}						<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"> 
	{# navbar custom #}				<link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
	{% block addCSS %}{% endblock addCSS %}
	
	{# ---------------- Head ---------------- #}
	{% include "account/modals/confirm-logout.html" %}
	{% block head %}{% endblock head %}
</head>

<body>

	{# ---------------- Pré-chargement de la page ---------------- #}	
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section"></div>
	</div>

	<header>{% block header %}{% endblock %}</header>
	
	{% block navbar %}{% include "navbar.html" %}{% endblock navbar %}
	{% block alerts %}{% endblock alerts %}
	{% block content %}{% endblock content %}	
	{% block footer %}{% endblock footer %}</footer>

	{# ---------------- JS ---------------- #}	
	{# Bootstrap tooltips #}		<script type="text/javascript" src="{% static 'mdb_4.19.1/js/popper.min.js' %}"></script>
	{# Bootstrap core JavaScript #} <script type="text/javascript" src="{% static 'mdb_4.19.1/js/bootstrap.min.js' %}"></script>
	{# MDB core JavaScript #}		<script type="text/javascript" src="{% static 'mdb_4.19.1/js/mdb.min.js' %}"></script>
	{# MDBootstrap Datatables #}    <script type="text/javascript" src="{% static 'mdb_4.19.1/js/addons/datatables.min.js' %}"></script>
	{# base #} 						<script type="text/javascript" src="{% static 'base.js' %}"></script>
	{# navbar custom #} 			<script type="text/javascript" src="{% static 'navbar.js' %}"></script>
	{% block addJS %}{% endblock addJS %}

	{# ---------------- Media ---------------- #}
	{% block media %}{% endblock media %}

</body>

</html>