{% load templateTags %}
<div class="container mt-2 text-left">	
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ field_ }}
	</div>
</div>