{% load templateTags %}
{% if messages %}
<div class="container all-messages p-0">
	{% for message in messages %}	
	<div class="container message">
		<div class="alert alert-{% if message.level_tag == 'error' %}danger{% else %}{{ message.level_tag }}{% endif %} alert-dismissible fade show" 
		role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}