<!--Navbar-->
{% load static %}
{% load templateTags %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">

	<!-- Navbar brand -->
	{% comment %} <a class="navbar-brand hoverable rounded px-2" href="{% url 'home' %}">
		<img src="{% static 'images/logo/logo_la_gamelle_consignee.png' %}" height="40" alt="mdb logo" style="filter: invert(1);">
	</a> {% endcomment %}

	<a class="navbar-brand hoverable px-2 btn btn-sm btn-light text-dark rounded" href="{% url 'home' %}">
		<i class="fas fa-home"></i>
		<strong>Accueil</strong>
	</a>

	<br>
	{% if user.is_authenticated %}
	<span class="text-white mr-3">
		<i class="fas fa-user-check mr-1"></i>
		<strong>{{ user }}
		<span class="badge badge-primary ml-1">{{ user.client_profile.current_balance }}€</span></strong>
		{# ATTENTION : BUG A VENIR SI USER EST RESTAURATEUR #}
	</span>
	{% endif %}
	<br>
	
	<!-- Collapse button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gamelle-navbar"
	aria-controls="gamelle-navbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<!-- Collapsible content -->
	<div id="gamelle-navbar" class="collapse navbar-collapse">
		<div class="ml-auto text-center">
			<hr class="d-block d-md-none border-white my-1">
			{% if user.is_authenticated %}
				<a role="button" href="{% url 'update_client_profile' %}" class="btn btn-sm btn-warning">
					Mon profil
				</a>
				<button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-confirm-logout">
					Déconnexion
				</button>
			{% else %}
				<a role="button" href="{% url 'account_signup' %}" class="btn btn-sm btn-success">
					S'inscrire
				</a>
				<a role="button" href="{% url 'account_login' %}" class="btn btn-sm btn-info">
					Se connecter
				</a>
			{% endif %}
		</div>
		  
	</div>
	<!-- Collapsible content -->
	  
</nav>
<!--/.Navbar-->