<div class="def-number-input number-input d-flex justify-content-between">
    <button type="button" onclick="this.parentNode.querySelector('#{{ field.id_for_label }}').stepDown()" class="minus w-100"></button>
    {{ field }}
    <button type="button" onclick="this.parentNode.querySelector('#{{ field.id_for_label }}').stepUp()" class="plus w-100"></button>
</div>