<!--Modal: modal-confirm-logout-->
<div class="modal fade" id="modal-confirm-logout" tabindex="-1" role="dialog" 
aria-labelledby="modal-confirm-logout" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm modal-notify modal-danger" role="document">
		<!--Content-->
		<div class="modal-content text-center">

			<!--Header-->
			<div class="modal-header d-flex justify-content-center">
				<p class="heading">Voulez-vous vraiment vous déconnecter ?</p>
			</div>

			<!--Body-->
			<div class="modal-body">
				<i class="fas fa-times fa-4x animated rotateIn"></i>
			</div>

			<!--Footer-->
			<div class="modal-footer flex-center">
				<form method="POST" action="{% url 'account_logout' %}">
					{% csrf_token %}
					<button type="submit" id="modal-confirm-button" class="btn btn-outline-danger">
						Oui
					</button>
				</form>
				<a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">Non</a>
			</div>

		</div>
		<!--/.Content-->
	</div>
</div>
<!--Modal: modal-confirm-logout-->